<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Smart Timetable Notifier</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/welcome.css}"
	href="../../css/welcome.css" />

</head>
<body>

	<script type="text/javascript"
		src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Smart Timetable Notifier</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="/web/faculty/cancelclass">Cancel class</a></li>
					<li><a href="/web/faculty/makeupclass">Make-up Class</a></li>
					<li><a href="/web/faculty/addins">Add Instructor/Guest</a></li>
					<li><a href="/web/faculty/changepassword">Change Password</a></li>	
					<li><a href="/web/faculty?logout=true">Logout</a></li>		
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
	

		<div class="home row" style="margin-top: 20px">
		<div id="inbox" class="inbox-frame">
		<div class="ri-hdiv">
		<h5 class="ri-h">Recent Items</h5>
		</div>
				<ul class="inbox-list" th:object="${timetable}">
					<li>
					<div class ="inbox-item" th:each="item : ${inbox}" >
					<a th:text="${item.item}" th:href="@{/web/faculty/ai/{id}(id=${item.aiId})}"></a></div></li>		
				</ul>
			</div>
			<div
				class="timetable col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
				<form th:action="@{/web/faculty/login}" method="post"
					th:object="${timetable}">
					<fieldset>
						<div class="head">
							<h1>
								Welcome <span th:text="${{teacher.name}}" />
							</h1>
						</div>
						<div class="head">
							<h3>
								TimeTable 
							</h3>
						</div>
						<div class="row">
							<table id="timetable" class="fac-tt">
								<thead>
									<tr>
										<th>Day</th>
										<th>Time</th>
										<th>Room</th>
										<th>Location</th>
										<th>Course</th>
										<th>Section</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="record : ${timetable}">
										<td th:text="${{record.day}}"></td>
										<td th:text="${{record.time}}"></td>
										<td th:text="${{record.room}}"></td>
										<td th:text="${{record.location}}"></td>
										<td th:text="${{record.course}}"></td>
										<td th:text="${{record.section}}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</fieldset>
				</form>
			</div>
		</div>

	</div>
	<footer>
		<!-- this is footer -->
		<!-- © 2017 Smart Timetable Notifier  -->

	</footer>

</body>
</html>