<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Smart Timetable Notifier</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

</head>
<body>

	<script type="text/javascript"
		src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Smart Timetable Notifier</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/web/faculty/login">Home</a></li>
					<li><a href="/web/faculty/cancelclass">Cancel class</a></li>
					<li><a href="/web/faculty/makeupclass">Make-up Class</a></li>
					<li><a href="/web/faculty/addins">Add Instructor/Guest</a></li>
					<li class="active"><a href="#">Change Password</a></li>
					<li><a href="/web/faculty?logout=true">Logout</a></li>	
				</ul>
			</div>
		</div>
	</nav>



	<div class="container">
		<img th:src="@{/images/cp.png}" class="img-responsive center-block"
			width="100" height="100" alt="Logo" />

		<form th:action="@{/web/faculty/changepassword}"
			th:object="${changepasswordPojo}" method="POST" class="form-signin">

			<div th:if="${changePasswordSuccess} == true">
				<div class="alert alert-info">Password changed successfully</div>
			</div>

			<div th:if="${changePasswordError} == true">
				<div class="alert alert-danger">Change Password failed, invalid
					Username</div>
			</div>

			<div th:if="${isConditionTrue}">
				<div class="alert alert-danger">Two passwords must be same</div>
			</div>

			<h3 class="form-signin-heading">Change Password</h3>
			<br />
			<div class="form-group">
				<div th:switch="${validation}">
					<p th:case="false">
						<input type="text" name="userName" id="userName"
							class="form-control input-lg" placeholder="User Name"
							th:value="${session.username}" style="display:none;"/>
					</p>
					<p th:case="*">
						<input type="text" name="userName" id="userName"
							class="form-control input-lg" placeholder="User Name" th:value="${session.username}" style="display:none;" />
					</p>
				</div>

				<div th:if="${userNameError}">
					<div class="alert alert-danger">
						<span th:text="${userNameError}"></span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div th:switch="${validation}">
					<p th:case="false">
						<input type="password" name="oldPassword" id="oldPassword"
							class="form-control input-lg" placeholder="Old Password"
							th:value="${oldPassword}" />
					</p>
					<p th:case="*">
						<input type="password" name="oldPassword" id="oldPassword"
							class="form-control input-lg" placeholder="Old Password" />
					</p>
				</div>

				<div th:if="${oldPasswordError}">
					<div class="alert alert-danger">
						<span th:text="${oldPasswordError}"></span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div th:switch="${validation}">
					<p th:case="false">
						<input type="password" name="newPassword" id="newPassword"
							class="form-control input-lg" placeholder="New Password"
							th:value="${newPassword}" />
					</p>
					<p th:case="*">
						<input type="password" name="newPassword" id="newPassword"
							class="form-control input-lg" placeholder="New Password" />
					</p>
				</div>

				<div th:if="${newPasswordError}">
					<div class="alert alert-danger">
						<span th:text="${newPasswordError}"></span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div th:switch="${validation}">
					<p th:case="false">
						<input type="password" name="confirmPassword" id="confirmPassword"
							class="form-control input-lg" placeholder="Confirm Password"
							th:value="${confirmPassword}" />
					</p>
					<p th:case="*">
						<input type="password" name="confirmPassword" id="confirmPassword"
							class="form-control input-lg" placeholder="Confirm Password" />
					</p>
				</div>

				<div th:if="${confirmPasswordError}">
					<div class="alert alert-danger">
						<span th:text="${confirmPasswordError}"></span>
					</div>
				</div>
			</div>

			<button class="btn btn-lg btn-primary btn-block" name="Submit"
				type="Submit" th:text="Submit"></button>
		</form>
	</div>
	<footer>
		<!-- this is footer -->
		<!-- © 2017 Smart Timetable Notifier  -->

	</footer>

</body>
</html>