<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Smart Timetable Notifier</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>

</head>
<body>

		<script type="text/javascript"
		src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/web">Smart Timetable Notifier</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/web">Login</a></li>
					<li><a href="/web/register">Register</a></li>
				</ul>
			</div>
		</div>
	</nav>

<div class="container">

    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      

                    <div th:if="${error} == true">
                        <div class="alert alert-danger">
                            Invalid username and password.
                        </div>
                    </div>

        </div>
    </div>

</div>
<footer>
        <!-- this is footer -->
        © 2017 Smart Timetable Notifier

        </footer>

</body>
</html>